*,
::after,
::before {
    box-sizing: border-box;
}
html,
body {
    font-size: 14px;
}
body {
    font-family: $font-family;
    color: $light;
    background-color: $very_dark_blue;
    background-image: url(../../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body,
main {
    min-height: 100vh;
}
main {
    padding-left: rem(24px);
    padding-right: rem(24px);
}
